<div class="page">
  <div class="container">
    <h3>Login</h3>
    <button class="btn-rev" (click)="login()">Login by email</button>&nbsp;
    <button class="btn-rev" (click)="loginGoogle()">Login by Google</button
    >&nbsp;
    <button type="button" class="btn-fake" (click)="signUp()">
      Sign up with B+
    </button>

    <div *ngIf="showMe">
      <button type="button" class="btn-fake" (click)="updaetGoogle()">
        update with B+
      </button>
    </div>
  </div>
</div>
