<header>
  <div class="page">
    <div class="container">
      <ul class="row boxed">
        <li>
          <a routerLink="/public/login">Login</a>
        </li>
        <li>
          <a routerLink="/projects">Projects</a>
        </li>
        <li>
          <a routerLink="/private/dashboard">Dashboard</a>
        </li>
        <li>
          <!-- logout, and decide whehter to reroute -->
          <a (click)="Logout()">Logout</a>
        </li>
      </ul>
      <cr-account-status></cr-account-status>

    </div>
  </div>
</header>

<router-outlet></router-outlet>